@charset "UTF-8";

/* Layout for Medium Screens */
.container {
		width:90%;
	}
	.logo-container {
		background: url('../../img/wom-n-logo-medium.png');
		background-repeat: no-repeat;
		width:300px;
		height:300px;
	}

	article h1 {
		font-size: 5em;
	}
	article h2 {
		font-size: 1.7em;
	}

	input[type="text"], input[type="password"] {
	-webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	o-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	height: 60px;
	padding: 0.5em;
	font-size: 2.0em;
	}

	.rem-pass label p {

		font-size: 70%;
	}

	.buttons-container a {
		font-size: 150%;	
	}

	.join {
		display: inline-block;
		width: 100%;
		margin-bottom: 4%;
		padding-top: 3%;
		padding-bottom: 3%;
	}

	.login {
		text-align: center;
		display: inline-block;
		width:100%;
		padding-top: 3%;
		padding-bottom: 3%;
	}

.modal-container {

	position:absolute;
	top:25%;
	left:9%;
	width: 80%;
	height: 250px;

}

.modal-container h1 {
	font-size: 2em;
}

.modal-container h2 {
	margin-top:1.5em;
	margin-bottom:0;
	height: 20%;
	line-height: 1.2em;
	font-size: 1.3em;
}

.modal-container a {

	font-size: 2.3em;

}

.okay {
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 5%;
	margin-top:10%;
}

.buttons {
	height: 20%;
	margin:0px auto;

}

@media screen and (min-height: 0px) and (max-height: 500px) {

	.logo-container {
		display: none;
	}

	article h1 {
		display: none;
	}
	article h2 {
		display: none;
	}

	input[type="text"], input[type="password"] {
	-webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	o-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	height: 30px;
	padding: 0.5em;
	font-size: 2.0em;
	}


}