@charset "UTF-8";


body {
	background: none;
}
.report h1 {
	font-size: 1.6em;
}

.menu-container {

	height: 65px;
	width: 100%;
}


header {

	width: 100%;

}
.menu h2 {
	font-size: 0.9em;
}


.icon {
	width: 42px;
	height: 42px;
}
.report-icon {

background: url('../../img/report-medium.png');
background-repeat:no-repeat;

}

.messages-icon {
background: url('../../img/messages-medium.png');
background-repeat:no-repeat;
}

.discussions-icon {
background: url('../../img/discussions-medium.png');
background-repeat:no-repeat;
}

.settings-icon {
	background: url('../../img/logout-medium.png');
	background-repeat:no-repeat;
}

.category{

	width: 70px;

}

.page {
	width: 50px;
}


.messages {
	width: 100%;
}

.username {
	width: 100%;
}

.subject {
	padding-left: 10px;
	width: 100%;
}

.date {
	width: 95%;
	text-align: right;
}

.username, .subject, .date {
	margin: 0;
	padding-top: 10px;
	font-size: 1.3em;
}

