@charset "UTF-8";

/* Layout for Small Screen */

input[type="text"],  input[type="password"], input[type = "email"]  {
	font-size: 1.2em;
	height: 50px;
}
select {
	font-size: 1em;
}
.month {
	width: 40%;
}

.day {
	width: 20%;
}

.back, .next {
	font-size: 1.7em;
}

.gender {

	width: 100%;
}

.civil-status {
	width: 100%;
}

.modal-container {

	position:absolute;
	top:25%;
	left:9%;
	width: 80%;
	height: 250px;

}

.modal-container {

	height: 200px;
}

.modal-container h1 {
	font-size: 2em;
}

.modal-container h2 {
	margin-top:1.5em;
	margin-bottom:0;
	height: 20%;
	line-height: 1.2em;
	font-size: 1.1em;
}

.modal-container a {

	font-size: 2.1em;

}

.okay {
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 5%;
	margin-top:10%;
}
@media screen and (min-height: 300px) and (max-height: 500px) {

	input[type="text"],  input[type="password"] {
	font-size: 1.2em;
	height: 15%;
}
