@charset "UTF-8";

/* Layout for Medium Screen */

input[type="text"], input[type="password"] {
	height: 10%;
}

select {
	padding: 15px;
}

.month {

	width: 40%;

}

.day {
	width: 20%;
}

.year {
	width: 30%;
}

.gender {

	width: 100%;
}

.civil-status {
	width: 100%;
}


@media screen and (min-height: 300px) and (max-height: 500px) {

	input[type="text"],  input[type="password"] {
	font-size: 1.2em;
	height: 15%;
}
